html,
body {
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  display: inline-flex;
  align-items: center;
  &:hover {
    opacity: 0.7;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  max-width: 970px;
  margin: auto;
  & nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    & > * {
      padding: 0.2em;
    }
  }
}

#body {
  padding: 1em;
  max-width: 970px;
  margin: auto;
}

footer {
  padding: 1em;
  max-width: 970px;
  margin: auto;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  & > * {
    padding: 0.2em;
  }
  & ion-icon {
    margin-right: 0.2em;
  }
}

.fade-enter {
  opacity: 0.01;
  position: absolute;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
